[submodule "libs/OpenFX"]
	path = libs/OpenFX
	url = https://github.com/NatronGitHub/openfx.git
[submodule "libs/SequenceParsing"]
	path = libs/SequenceParsing
	url = https://github.com/NatronGitHub/SequenceParsing
