Source: natron
Section: video
Priority: optional
Maintainer: Hermann Vosseler <deb@ichthyostega.de>
Homepage: https://natrongithub.github.io
Standards-Version: 4.2.1
Build-Depends: debhelper (>= 11~),
	libomp-dev,
	libqt4-dev,
	libqt4-opengl-dev,
	libopencolorio-dev,
	libboost-serialization-dev,
	libcairo2-dev,
	libexpat1-dev,
	python-dev,
	python-pyside,
	libpyside-dev,
	libshiboken-dev,
	googletest

Package: natron
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
	opencolorio-configs-natron,
	openfx-arena-natron,
	openfx-misc-natron, 
	openfx-io-natron,
	python-pyside.qtcore,
	python-pyside.qtgui
Replaces: natron-data (<= 2.3.0-dmo1)
Conflicts: natron-data (<= 2.3.0-dmo1), natron-dmo
Description: Node based video compositing software.
 Natron features a video and image processing and compositing engine,
 and allows to build arbitrarily complex node based processing networks.
 The powerful and flexible UI (inspired by "Nuke") offers efficient tools
 for keying, roto/rotopaint, planar tracking and matte generation, which
 are staple for current film production workflows involving visual effects.
 It allows to build unlimited layers of masks and shapes with automation.
 .
   * 32 bit floating point linear color processing pipeline.
   * Colorspace management handled by OpenColorIO.
   * Supported file formats: EXR, DPX, TIFF, PSD, SVG, RAW, MPEG, JPG, PNG …
   * Premultiplied alpha, with support for non-premultiplied sources.
   * Support for OpenFX v1.4

