#!/usr/bin/make -f
# build Natron debian package

export QT_SELECT=4

%:
	dh $@ -Sqmake_qt4

override_dh_auto_configure:
	cp debian/config.pri .
	qmake-qt4 -r CONFIG+=stable PREFIX=/usr
#	exit 1

override_dh_missing:
	dh_missing --fail-missing

override_dh_clean:
	dh_clean \
	libs/qhttpserver/build/libqhttpserver.a \
	libs/hoedown/build/libhoedown.a \
	config.pri

